{% extends 'base.html' %}
<!---->
{% block scripts %}
<script type="text/javascript">
  function drawTasksList() {
    var container = document.getElementById('tasks_list');
    var tbl = document.createElement('table');

    addHeader = function (tr, text) {
      td = tr.insertCell();
      td.style.textAlign = 'center';
      td.style.fontWeight = 'bold';
      td.innerHTML = text;
    };

    addCell = function (tr, text) {
      td = tr.insertCell();
      td.style.borderTop = '1px solid black';
      td.style.padding = '5px';
      td.style.textAlign = 'right';
      td.innerHTML = text;
    };

    // header
    tr = tbl.insertRow();
    addHeader(tr, "Funcionalidad");
    addHeader(tr, "Precio");

    {%for t in estimation%}
      tr = tbl.insertRow();
      addCell(tr, '{{t.ref}} {{t.name}}');
      addCell(tr, '{{t.price}}€');
    {%endfor%}

    container.appendChild(tbl);
  }

  function tasksToCSV() {
      var csv_data = [];
      var container = document.getElementById('tasks_list');
      var rows = container.getElementsByTagName('tr');
      for (var i = 0; i < rows.length; i++) {
          var cols = rows[i].querySelectorAll('td,th');
          var csvrow = [];
          for (var j = 0; j < cols.length; j++) {
              csvrow.push(cols[j].innerHTML);
          }
          csv_data.push(csvrow.join(","));
      }
      csv_data = csv_data.join('\n');

      // Call this function to download csv file
      downloadCSVFile(csv_data);
  }

  window.onload = function() {
    drawTasksList();
  };
</script>
{% endblock %}
<!---->
{% block header %}
<h1>{% block title %}Gantt Chart{% endblock %}</h1>
{% endblock %}
<!---->
{% block content %}
<div id="tasks_list"></div>
<br /><br />
<button type="button" onclick="tasksToCSV()">download CSV</button>
{% endblock %}
