{% extends 'base.html' %}
<!---->
{% block scripts %}
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["gantt", "timeline"] });
  google.charts.setOnLoadCallback(drawChart);

  function daysToMilliseconds(days) {
    return days * 24 * 60 * 60 * 1000;
  }

  function drawGanttChart() {
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Task ID");
    data.addColumn("string", "Task Name");
    data.addColumn('string', 'Resource');
    data.addColumn("date", "Start Date");
    data.addColumn("date", "End Date");
    data.addColumn("number", "Duration");
    data.addColumn("number", "Percent Complete");
    data.addColumn("string", "Dependencies");

    data.addRows([
      {%for t in gantt%}
      [
        "{{t.name}}",
        "{{t.name}}",
        "{{t.name}}",
        new Date("{{t.init}}"),
        new Date("{{t.end}}"),
        daysToMilliseconds({{t.days}}),
        0,
        null,
        ////"{{t.depends_on}}",
      ],
      ////{%for tt in t.teams%}
      ////[
      ////  "{{t.name}}{{tt.name}}",
      ////  "{{tt.name}}",
      ////  "{{t.name}}",
      ////  new Date("{{tt.init}}"),
      ////  new Date("{{tt.end}}"),
      ////  daysToMilliseconds({{tt.days}}),
      ////  0,
      ////  "{{tt.depends_on}}",
      ////],
      ////{%endfor%}
      {%endfor%}
    ]);

    var options = {
      height: {{gantt_height}},
      gantt: {
            criticalPathEnabled: false,
            arrow: {
              angle: 100,
              width: 5,
              color: 'green',
              radius: 0
            }
      }
    };

    var chart = new google.visualization.Gantt(
      document.getElementById("chart_div")
    );

    google.visualization.events.addListener(chart, 'ready', function () {
      let button = document.getElementById('export');
      let svg = document.getElementsByTagName('svg')[0];
      ////
      //get svg source.
      var serializer = new XMLSerializer();
      var source = serializer.serializeToString(svg);

      //add name spaces.
      if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
          source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
      }
      if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
          source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
      }

      //add xml declaration
      source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

      //convert svg source to URI data scheme.
      var url = "data:image/svg+xml;charset=utf-8,"+encodeURIComponent(source);
      ////
      button.href = url;
    });

    chart.draw(data, options);
  }

  function drawTimelineChart() {
    var options = {
      height: {{timeline_height}},
    };

    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Team' });
    dataTable.addColumn({ type: 'string', id: 'Task' });
    dataTable.addColumn({ type: 'string', role: 'tooltip' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addRows([
      {%for tl in timeline%}
      [ "{{tl.team}}", "{{tl.task}}", "<b>{{tl.task}}</b><br>Max: {{tl.max}}", new Date("{{tl.start}}"), new Date("{{tl.end}}") ],
      {%endfor%}
    ]);

    chart.draw(dataTable, options);;
  }

  function drawTasksList() {
    var container = document.getElementById('tasks_list');
    var tbl = document.createElement('table');

    addHeader = function (tr, text) {
      td = tr.insertCell();
      td.style.textAlign = 'center';
      td.style.fontWeight = 'bold';
      td.innerHTML = text;
    };

    addCell = function (tr, text) {
      td = tr.insertCell();
      td.style.borderTop = '1px solid black';
      td.style.padding = '5px';
      td.style.textAlign = 'right';
      td.innerHTML = text;
    };

    // header
    tr = tbl.insertRow();
    addHeader(tr, "Hito");
    addHeader(tr, "Inicio");
    addHeader(tr, "Fin");
    addHeader(tr, "Precio");

    {%for t in gantt%}
      tr = tbl.insertRow();
      addCell(tr, '{{t.name}}');
      addCell(tr, '{{t.init}}');
      addCell(tr, '{{t.end}}');
      addCell(tr, '{{t.price}}€');
    {%endfor%}

    container.appendChild(tbl);
  }

  function drawChart() {
    drawGanttChart();
    drawTimelineChart();
    drawTasksList();
  }

  function tasksToCSV() {
      var csv_data = [];
      var container = document.getElementById('tasks_list');
      var rows = container.getElementsByTagName('tr');
      for (var i = 0; i < rows.length; i++) {
          var cols = rows[i].querySelectorAll('td,th');
          var csvrow = [];
          for (var j = 0; j < cols.length; j++) {
              csvrow.push(cols[j].innerHTML);
          }
          csv_data.push(csvrow.join(","));
      }
      csv_data = csv_data.join('\n');

      // Call this function to download csv file
      downloadCSVFile(csv_data);
  }

  function downloadCSVFile(csv_data) {
      CSVFile = new Blob([csv_data], { type: "text/csv" });
      var temp_link = document.createElement('a');
      temp_link.download = "milestones.csv";
      var url = window.URL.createObjectURL(CSVFile);
      temp_link.href = url;
      temp_link.style.display = "none";
      document.body.appendChild(temp_link);
      temp_link.click();
      document.body.removeChild(temp_link);
  }
</script>
{% endblock %}
<!---->
{% block header %}
<h1>{% block title %}Gantt Chart{% endblock %}</h1>
{% endblock %}
<!---->
{% block content %}
<div id="chart_div"></div>
<a id="export" href="#" download="gantt.svg">Export</a>
<p>-----------------</p>
<div id="timeline"></div>
<p>-----------------</p>
<div id="tasks_list"></div>
<br /><br />
<button type="button" onclick="tasksToCSV()">download CSV</button>
{% endblock %}
