{% extends 'base.html' %}
<!---->
{% block scripts %}
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["gantt", "timeline"] });
  google.charts.setOnLoadCallback(drawChart);

  function daysToMilliseconds(days) {
    return days * 24 * 60 * 60 * 1000;
  }

  function drawGanttChart() {
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Task ID");
    data.addColumn("string", "Task Name");
    data.addColumn('string', 'Resource');
    data.addColumn("date", "Start Date");
    data.addColumn("date", "End Date");
    data.addColumn("number", "Duration");
    data.addColumn("number", "Percent Complete");
    data.addColumn("string", "Dependencies");

    data.addRows([
      {%for t in gantt%}
      [
        "{{t.name}}",
        "{{t.name}}",
        "{{t.name}}",
        new Date("{{t.init}}"),
        new Date("{{t.end}}"),
        daysToMilliseconds({{t.days}}),
        0,
        "{{t.depends_on}}",
      ],
      {%for tt in t.teams%}
      [
        "{{t.name}}{{tt.name}}",
        "{{tt.name}}",
        "{{t.name}}",
        new Date("{{tt.init}}"),
        new Date("{{tt.end}}"),
        daysToMilliseconds({{tt.days}}),
        0,
        "{{tt.depends_on}}",
      ],
      {%endfor%}
      {%endfor%}
    ]);

    var options = {
      height: {{height}},
      gantt: {
            criticalPathEnabled: false,
            arrow: {
              angle: 100,
              width: 5,
              color: 'green',
              radius: 0
            }
      }
    };

    var chart = new google.visualization.Gantt(
      document.getElementById("chart_div")
    );

    google.visualization.events.addListener(chart, 'ready', function () {
      let button = document.getElementById('export');
      let svg = document.getElementsByTagName('svg')[0];
      ////
      //get svg source.
      var serializer = new XMLSerializer();
      var source = serializer.serializeToString(svg);

      //add name spaces.
      if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
          source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
      }
      if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
          source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
      }

      //add xml declaration
      source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

      //convert svg source to URI data scheme.
      var url = "data:image/svg+xml;charset=utf-8,"+encodeURIComponent(source);
      ////
      button.href = url;
    });

    chart.draw(data, options);
  }

  function drawTimelineChart() {
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Position' });
    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addRows([
      [ 'President', 'George Washington', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
      [ 'President', 'John Adams', new Date(1797, 2, 4), new Date(1801, 2, 4) ],
      [ 'President', 'Thomas Jefferson', new Date(1801, 2, 4), new Date(1809, 2, 4) ],
      [ 'Vice President', 'John Adams', new Date(1789, 3, 21), new Date(1797, 2, 4)],
      [ 'Vice President', 'Thomas Jefferson', new Date(1797, 2, 4), new Date(1801, 2, 4)],
      [ 'Vice President', 'Aaron Burr', new Date(1801, 2, 4), new Date(1805, 2, 4)],
      [ 'Vice President', 'George Clinton', new Date(1805, 2, 4), new Date(1812, 3, 20)],
      [ 'Secretary of State', 'John Jay', new Date(1789, 8, 25), new Date(1790, 2, 22)],
      [ 'Secretary of State', 'Thomas Jefferson', new Date(1790, 2, 22), new Date(1793, 11, 31)],
      [ 'Secretary of State', 'Edmund Randolph', new Date(1794, 0, 2), new Date(1795, 7, 20)],
      [ 'Secretary of State', 'Timothy Pickering', new Date(1795, 7, 20), new Date(1800, 4, 12)],
      [ 'Secretary of State', 'Charles Lee', new Date(1800, 4, 13), new Date(1800, 5, 5)],
      [ 'Secretary of State', 'John Marshall', new Date(1800, 5, 13), new Date(1801, 2, 4)],
      [ 'Secretary of State', 'Levi Lincoln', new Date(1801, 2, 5), new Date(1801, 4, 1)],
      [ 'Secretary of State', 'James Madison', new Date(1801, 4, 2), new Date(1809, 2, 3)]
    ]);

    chart.draw(dataTable);
  }

  function drawChart() {
    drawGanttChart();
    drawTimelineChart();
  }
</script>
{% endblock %}
<!---->
{% block header %}
<h1>{% block title %}Gantt Chart{% endblock %}</h1>
{% endblock %}
<!---->
{% block content %}
<div id="chart_div"></div>
<a id="export" href="#" download="gantt.svg">Export</a>
<p>-----------------</p>
<div id="timeline"></div>
{% endblock %}
